services:
  - type: web
    name: excel-report-generator
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    rootDir: Demo Project
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: PYTHON_VERSION
        value: 3.11.0
    disk:
      name: uploads
      mountPath: /opt/render/project/src/uploads
      sizeGB: 1

